# This file can be used to update the current anaconda environment
# to install all dependencies required by Polymer:
#     mamba env update -f environment.yml
# (The use of mamba is recommended over conda)
channels:
  - conda-forge
  - defaults
dependencies:
  - python
  - numpy
  - scipy
  - xarray
  - cython
  - pyhdf
  - netcdf4
  - python-dateutil

  # For MERIS:
  - pyepr

  # For GSW and Landsat8:
  - gdal

  # For ERA5
  - cdsapi

  # For ERA-Interim
  - pygrib
  - bioconda::ecmwfapi

  # for Landsat8:
  - xlrd<2

  # For Sentinel-2:
  - glymur
  - pyproj
  - lxml
  - cfgrib

  # For Prisma:
  - h5py

  # Testing:
  - pytest
  - pytest-html
  - pytest-xdist
  - matplotlib