name: 
channels:
  - conda-forge
dependencies:
  - _libgcc_mutex=0.1=conda_forge
  - _openmp_mutex=4.5=2_gnu
  - aom=3.9.1=hac33072_0
  - attrs=25.3.0=pyh71513ae_0
  - aws-c-auth=0.8.6=hd08a7f5_4
  - aws-c-cal=0.8.7=h043a21b_0
  - aws-c-common=0.12.0=hb9d3cd8_0
  - aws-c-compression=0.3.1=h3870646_2
  - aws-c-event-stream=0.5.4=h04a3f94_2
  - aws-c-http=0.9.4=hb9b18c6_4
  - aws-c-io=0.17.0=h3dad3f2_6
  - aws-c-mqtt=0.12.2=h108da3e_2
  - aws-c-s3=0.7.13=h822ba82_2
  - aws-c-sdkutils=0.2.3=h3870646_2
  - aws-checksums=0.2.3=h3870646_2
  - aws-crt-cpp=0.31.0=h55f77e1_4
  - aws-sdk-cpp=1.11.510=h37a5c72_3
  - azure-identity-cpp=1.10.0=h113e628_0
  - azure-storage-blobs-cpp=12.13.0=h3cf044e_1
  - azure-storage-common-cpp=12.8.0=h736e048_1
  - azure-storage-files-datalake-cpp=12.12.0=ha633028_1
  - binutils_impl_linux-64=2.43=h4bf12b8_4
  - blosc=1.21.6=he440d0b_1
  - bokeh=3.7.0=pyhd8ed1ab_0
  - brotli=1.1.0=hb9d3cd8_2
  - brotli-bin=1.1.0=hb9d3cd8_2
  - brotli-python=1.1.0=py312h2ec8cdc_2
  - bzip2=1.0.8=h4bc722e_7
  - c-ares=1.34.4=hb9d3cd8_0
  - ca-certificates=2025.1.31=hbcca054_0
  - cached-property=1.5.2=hd8ed1ab_1
  - cached_property=1.5.2=pyha770c72_1
  - cdsapi=0.7.5=pyhd8ed1ab_1
  - certifi=2025.1.31=pyhd8ed1ab_0
  - cf-xarray=0.10.4=pyhd8ed1ab_0
  - cf_xarray=0.10.4=pyhd8ed1ab_0
  - cffi=1.17.1=py312h06ac9bb_0
  - cftime=1.6.4=py312hc0a28a1_1
  - charset-normalizer=3.4.1=pyhd8ed1ab_0
  - click=8.1.8=pyh707e725_0
  - cloudpickle=3.1.1=pyhd8ed1ab_0
  - colorama=0.4.6=pyhd8ed1ab_1
  - contourpy=1.3.1=py312h68727a3_0
  - cycler=0.12.1=pyhd8ed1ab_1
  - cython=3.0.12=py312h2614dfc_0
  - cytoolz=1.0.1=py312h66e93f0_0
  - dask=2025.3.0=pyhd8ed1ab_0
  - datapi=0.3.0=pyhd8ed1ab_0
  - dav1d=1.2.1=hd590300_0
  - distributed=2025.3.0=pyhd8ed1ab_0
  - exceptiongroup=1.2.2=pyhd8ed1ab_1
  - execnet=2.1.1=pyhd8ed1ab_1
  - flexcache=0.3=pyhd8ed1ab_1
  - flexparser=0.4=pyhd8ed1ab_1
  - fonttools=4.56.0=py312h178313f_0
  - freetype=2.13.3=h48d6fc4_0
  - freexl=2.0.0=h9dce30a_2
  - fsspec=2025.3.2=pyhd8ed1ab_0
  - gcc=14.2.0=h96c4ede_2
  - gcc_impl_linux-64=14.2.0=hdb7739f_2
  - gdal=3.10.2=py312hc55c449_5
  - geos=3.13.1=h97f6797_0
  - geotiff=1.7.4=h239500f_2
  - gflags=2.2.2=h5888daf_1005
  - giflib=5.2.2=hd590300_0
  - glog=0.7.1=hbabe93e_0
  - glymur=0.14.0.post2=pyhd8ed1ab_0
  - gtest=1.16.0=h84d6215_0
  - gxx=14.2.0=h96c4ede_2
  - gxx_impl_linux-64=14.2.0=h2ead766_2
  - h2=4.2.0=pyhd8ed1ab_0
  - h5py=3.13.0=nompi_py312hedeef09_100
  - hdf4=4.2.15=h2a13503_7
  - hdf5=1.14.3=nompi_h2d575fe_109
  - hpack=4.1.0=pyhd8ed1ab_0
  - hyperframe=6.1.0=pyhd8ed1ab_0
  - icu=75.1=he02047a_0
  - idna=3.10=pyhd8ed1ab_1
  - imageio=2.37.0=pyhfb79c49_0
  - importlib-metadata=8.6.1=pyha770c72_0
  - iniconfig=2.0.0=pyhd8ed1ab_1
  - jinja2=3.1.6=pyhd8ed1ab_0
  - json-c=0.18=h6688a6e_0
  - kernel-headers_linux-64=3.10.0=he073ed8_18
  - keyutils=1.6.1=h166bdaf_0
  - kiwisolver=1.4.8=py312h84d6215_0
  - krb5=1.21.3=h659f571_0
  - lcms2=2.17=h717163a_0
  - ld_impl_linux-64=2.43=h712a8e2_4
  - lerc=4.0.0=h27087fc_0
  - libabseil=20250127.1=cxx17_hbbce691_0
  - libaec=1.1.3=h59595ed_0
  - libarchive=3.7.7=h4585015_3
  - libarrow=19.0.1=h120c447_5_cpu
  - libarrow-acero=19.0.1=hcb10f89_5_cpu
  - libarrow-dataset=19.0.1=hcb10f89_5_cpu
  - libarrow-substrait=19.0.1=h1bed206_5_cpu
  - libavif16=1.2.1=hbb36593_2
  - libblas=3.9.0=31_h59b9bed_openblas
  - libbrotlicommon=1.1.0=hb9d3cd8_2
  - libbrotlidec=1.1.0=hb9d3cd8_2
  - libbrotlienc=1.1.0=hb9d3cd8_2
  - libcblas=3.9.0=31_he106b2a_openblas
  - libcrc32c=1.1.2=h9c3ff4c_0
  - libcurl=8.12.1=h332b0f4_0
  - libde265=1.0.15=h00ab1b0_0
  - libdeflate=1.23=h4ddbbb0_0
  - libedit=3.1.20250104=pl5321h7949ede_0
  - libev=4.33=hd590300_2
  - libevent=2.1.12=hf998b51_1
  - libexpat=2.7.0=h5888daf_0
  - libffi=3.4.6=h2dba641_1
  - libgcc=14.2.0=h767d61c_2
  - libgcc-devel_linux-64=14.2.0=h9c4974d_102
  - libgcc-ng=14.2.0=h69a702a_2
  - libgfortran=14.2.0=h69a702a_2
  - libgfortran5=14.2.0=hf1ad2bd_2
  - libgomp=14.2.0=h767d61c_2
  - libgoogle-cloud=2.36.0=hc4361e1_1
  - libgoogle-cloud-storage=2.36.0=h0121fbd_1
  - libgrpc=1.71.0=he753a82_0
  - libheif=1.19.7=gpl_hc18d805_100
  - libiconv=1.18=h4ce23a2_1
  - libjpeg-turbo=3.0.0=hd590300_1
  - libkml=1.3.0=hf539b9f_1021
  - liblapack=3.9.0=31_h7ac8fdf_openblas
  - liblzma=5.6.4=hb9d3cd8_0
  - libnetcdf=4.9.2=nompi_h00e09a9_116
  - libnghttp2=1.64.0=h161d5f1_0
  - libnsl=2.0.1=hd590300_0
  - libopenblas=0.3.29=pthreads_h94d23a6_0
  - libopentelemetry-cpp=1.19.0=hd1b1c89_0
  - libopentelemetry-cpp-headers=1.19.0=ha770c72_0
  - libparquet=19.0.1=h081d1f1_5_cpu
  - libpng=1.6.47=h943b412_0
  - libprotobuf=5.29.3=h501fc15_0
  - libre2-11=2024.07.02=hba17884_3
  - librttopo=1.1.0=hd718a1a_18
  - libsanitizer=14.2.0=hed042b8_2
  - libspatialite=5.1.0=he17ca71_14
  - libsqlite=3.49.1=hee588c1_2
  - libssh2=1.11.1=hf672d98_0
  - libstdcxx=14.2.0=h8f9b012_2
  - libstdcxx-devel_linux-64=14.2.0=h9c4974d_102
  - libstdcxx-ng=14.2.0=h4852527_2
  - libthrift=0.21.0=h0e7cc3e_0
  - libtiff=4.7.0=hd9ff511_3
  - libutf8proc=2.10.0=h4c51ac1_0
  - libuuid=2.38.1=h0b41bf4_0
  - libwebp-base=1.5.0=h851e524_0
  - libxcb=1.17.0=h8a09558_0
  - libxcrypt=4.4.36=hd590300_1
  - libxml2=2.13.7=h8d12d68_0
  - libxslt=1.1.39=h76b75d6_0
  - libzip=1.11.2=h6991a6a_0
  - libzlib=1.3.1=hb9d3cd8_2
  - locket=1.0.0=pyhd8ed1ab_0
  - lxml=5.3.1=py312he28fd5a_0
  - lz4=4.3.3=py312hf0f0c11_2
  - lz4-c=1.10.0=h5888daf_1
  - lzo=2.10=hd590300_1001
  - markupsafe=3.0.2=py312h178313f_1
  - matplotlib-base=3.10.1=py312hd3ec401_0
  - meson=1.9.0=pyhcf101f3_0
  - minizip=4.0.7=h05a5f5f_3
  - msgpack-python=1.1.0=py312h68727a3_0
  - multiurl=0.3.5=pyhd8ed1ab_0
  - munkres=1.1.4=pyh9f0ad1d_0
  - narwhals=1.33.0=pyhd8ed1ab_0
  - ncurses=6.5=h2d0b736_3
  - netcdf4=1.7.2=nompi_py312h21d6d8e_101
  - ninja=1.13.1=h171cf75_0
  - nlohmann_json=3.11.3=he02047a_1
  - numpy=1.26.4=py312heda63a1_0
  - openjpeg=2.5.3=h5fbd93e_0
  - openssl=3.4.1=h7b32b05_0
  - orc=2.1.1=h17f744e_1
  - packaging=24.2=pyhd8ed1ab_2
  - pandas=2.2.3=py312hf9745cd_1
  - partd=1.4.2=pyhd8ed1ab_0
  - pcre2=10.44=hba22ea6_2
  - pillow=11.1.0=py312h80c1187_0
  - pint=0.24.4=pyhd8ed1ab_1
  - pint-xarray=0.4=pyhd8ed1ab_1
  - platformdirs=4.3.7=pyh29332c3_0
  - pluggy=1.5.0=pyhd8ed1ab_1
  - proj=9.6.0=h0054346_0
  - prometheus-cpp=1.3.0=ha5d0236_0
  - psutil=7.0.0=py312h66e93f0_0
  - pthread-stubs=0.4=hb9d3cd8_1002
  - pyarrow=19.0.1=py312h7900ff3_0
  - pycparser=2.22=pyh29332c3_1
  - pyepr=1.2.0=py312h66e93f0_0
  - pyhdf=0.11.6=py312h21ed289_0
  - pyparsing=3.2.3=pyhd8ed1ab_1
  - pyproj=3.7.1=py312h03c6e1f_1
  - pysocks=1.7.1=pyha55dd90_7
  - pytest=8.3.5=pyhd8ed1ab_0
  - pytest-html=4.1.1=pyhd8ed1ab_1
  - pytest-metadata=3.1.1=pyhd8ed1ab_1
  - pytest-xdist=3.6.1=pyhd8ed1ab_1
  - python=3.12.9=h9e4cc4f_1_cpython
  - python-dateutil=2.9.0.post0=pyhff2d567_1
  - python-tzdata=2025.2=pyhd8ed1ab_0
  - python_abi=3.12=6_cp312
  - pytz=2024.1=pyhd8ed1ab_0
  - pyyaml=6.0.2=py312h178313f_2
  - qhull=2020.2=h434a139_5
  - rav1e=0.6.6=he8a937b_2
  - re2=2024.07.02=h9925aae_3
  - readline=8.2=h8c095d6_2
  - requests=2.32.3=pyhd8ed1ab_1
  - s2n=1.5.14=h6c98b2b_0
  - scipy=1.15.2=py312ha707e6e_0
  - setuptools=75.8.2=pyhff2d567_0
  - six=1.17.0=pyhd8ed1ab_0
  - snappy=1.2.1=h8bd8927_1
  - sortedcontainers=2.4.0=pyhd8ed1ab_1
  - sqlite=3.49.1=h9eae976_2
  - svt-av1=3.0.2=h5888daf_0
  - sysroot_linux-64=2.17=h0157908_18
  - tblib=3.0.0=pyhd8ed1ab_1
  - tk=8.6.13=noxft_h4845f30_101
  - tomli=2.2.1=pyhd8ed1ab_1
  - toolz=1.0.0=pyhd8ed1ab_1
  - tornado=6.4.2=py312h66e93f0_0
  - tqdm=4.67.1=pyhd8ed1ab_1
  - typing-extensions=4.13.0=h9fa5a19_1
  - typing_extensions=4.13.0=pyh29332c3_1
  - tzdata=2025b=h78e105d_0
  - unicodedata2=16.0.0=py312h66e93f0_0
  - uriparser=0.9.8=hac33072_0
  - urllib3=2.3.0=pyhd8ed1ab_0
  - x265=3.5=h924138e_3
  - xarray=2025.3.1=pyhd8ed1ab_0
  - xerces-c=3.2.5=h988505b_2
  - xorg-libxau=1.0.12=hb9d3cd8_0
  - xorg-libxdmcp=1.1.5=hb9d3cd8_0
  - xyzservices=2025.1.0=pyhd8ed1ab_0
  - yaml=0.2.5=h7f98852_2
  - zict=3.0.0=pyhd8ed1ab_1
  - zipp=3.21.0=pyhd8ed1ab_1
  - zlib=1.3.1=hb9d3cd8_2
  - zstandard=0.23.0=py312h66e93f0_1
  - zstd=1.5.7=hb8e6e7a_2
  - pip:
      - affine==2.4.0
      - appdirs==1.4.4
      - click-plugins==1.1.1.2
      - cligj==0.7.2
      - eumdac==3.0.0
      - fs==2.4.16
      - h5netcdf==1.6.4
      - llvmlite==0.45.1
      - numba==0.62.1
      - pysolar==0.13
      - python-dotenv==1.1.1
      - rasterio==1.4.3
      - rioxarray==0.19.0
      - toml==0.10.2
      - xlrd==2.0.2
      - core @ git+https://github.com/hygeos/core@85a28c303d28fdae71ee0772fee06d49cbac4fda
      - eoread @ git+https://github.com/hygeos/eoread@2860bc7c844815d8d742b8f6a5efc503fc3175f5
      - eotools @ git+https://github.com/hygeos/eotools@6754fc791c59930a0f47617b7c760f684f8ad837
      - luts @ git+https://github.com/hygeos/luts@354b37df2eb0f3aee1bede05d9e366316ba80bf5
